<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiang.weixin60" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".EnterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".satelliteMenu.SatelliteMenuActivity"/>
        <activity android:name="com.xiang.weixin60.changColorWithText.MainActivity"/>
        <activity android:name=".guaguaka.GuaGuaKaActivity"/>
        <activity android:name=".surfaceView.SurfaceViewActivity"/>
        <activity android:name=".zoomImageView.ZoomImageViewActivity"/>
        <activity android:name=".imageLoader.ImageLoaderActivity"/>
        <activity android:name=".Face_Recognition.FaceActivity"/>
        <activity android:name=".crop_photo.CropActivity"/>
    </application>

</manifest>
